{% extends "index.html" %}
{% block content %}
    <h2>Book Borrow</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.student_name.label }} {{ form.student_name() }}
        </div>
        <div>
            {{ form.student_id.label }} {{ form.student_id() }}
        </div>
        <div>
            {{ form.department.label }} {{ form.department() }}
        </div>
        <div>
            {{ form.year.label }} {{ form.year() }}
        </div>
        <div>
            {{ form.book.label }} {{ form.book() }}
        </div>
        <div>
            {{ form.borrow_date.label }} {{ form.borrow_date() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}

